// Analysis parameters
// Select the right folders with training and testing data
params.data = './data_for_models/data_09/train/*.tsv'
params.test_data = './data_for_models/data_09/test/*.tsv'

// Select the cutoff value that was used while removing highly correlated fingerprint features (0.7, 0.8 or 0.9)
params.correlation = 0.9
// Define the models
params.models_to_test = ['ada', 'AdaBag', 'gbm', 'kknn', 'knn', 'lda', 'LogitBoost', 'naive_bayes', 'ranger', 'Rborist', 'rf', 'xgbDART', 'treebag', 'C5.0', 'regLogistic', 'xgbTree', 'svmLinearWeights', 'nnet', 'pcaNNet']
// Select the output folders
params.outdir='./trained_models/twoClassSummary/data09/'
params.resultsdir='./results_stat/twoClassSummary/'

// Following lines are for evaluating the models
// Select the model that is going to be evaluated
//params.model_files_folder = './trained_models/twoClassSummary/data09/*/*.rda'
// Select the output folder
//params.outdir = './evaluated_models/'

process.executor = 'slurm'
process.queue = 'amd'

includeConfig './base.config'

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}
